 .u-section-1 {
  background-image: url("588722370-0.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 787px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 99px 582px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.875rem;
  letter-spacing: 2px;
  margin: -32px auto 0 106px;
  padding: 15px 59px 15px 58px;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  margin: 18px 781px 0 0;
}

.u-section-1 .u-icon-1 {
  color: rgb(136, 192, 87) !important;
  font-size: 1.3334em;
}

.u-section-1 .u-btn-2 {
  background-image: linear-gradient(to right, #478ac9, #e68387);
  border-style: none;
  text-transform: uppercase;
  font-size: 2.25rem;
  letter-spacing: 0px;
  font-weight: 700;
  margin: 18px auto 60px 38px;
  padding: 9px 22px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 382px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 581px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 710px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 162px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 361px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 634px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 181px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 550px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}