 .u-section-1 {
  background-image: url("3.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 911px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 47px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 41px 817px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 41px auto 0 71px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  line-height: 1.3;
  font-size: 2.25rem;
  margin: 30px 817px 0 0;
}

.u-section-1 .u-btn-2 {
  background-image: linear-gradient(#db545a, #a35559);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.875rem;
  margin: 39px auto 0 17px;
  padding: 6px 20px 7px;
}

.u-section-1 .u-icon-1 {
  color: rgb(0, 0, 0) !important;
  font-size: 1.5em;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 30px 817px 0 0;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 47px auto 60px 71px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 751px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 617px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 617px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 617px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 575px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 397px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 397px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 397px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 431px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 217px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 217px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 217px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 271px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 17px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
    margin-right: 17px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 17px;
  }
}