<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>get_capture</title>
</head>
<br>
<body>
    <h3>Capture Image by pressing the space key </h3>
    <video id="video" width="540" height="380" autoplay></video>
    <br>
    <canvas id="canvas" class="canvas-wrapper"></canvas>

    <a href="{{ url_for('success')}}" ><button>Post another</button><br>
        </a>
</body>

<script src="{{url_for('static', filename='main.js')}}"></script>

<style>
    /*Hide canvas*/
    #canvas {
        display: none !important;
    }
</style>
</html>