<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>teacher schedule</title>
</head>
<body>
            <table Border="2">
                <tr>
                    <th>9:40-10:40</th>
                    <th>10:40-11:40</th>
                    <th>11:40-12:40</th>

                </tr>
                <tr>
                    <th>IT-A</th>
                    <th>IT-B</th>
                    <th>IT-C</th>
                </tr>
                <tr>
                    <th>CSE-A</th>
                    <th>IT-B</th>
                    <th>CSE-C</th>
                </tr>
                <tr>
                    <th>EEE-A</th>
                    <th>ECE-B</th>
                    <th>MECH-C</th>
                </tr>
            </table>
</body>
</html>